.filmDetail {
    background-color: rgb(45, 59, 97);
    color: white;
    display: flex;


    img {
        width: 40%;
        //  height: 500px;
    }

    ul {
        font-size: 0.9rem;
        padding: 0px;

        li {
            list-style-type: none;
        }
    }

}