.streamingPage {

    background-color: grey;

    .wrapFilms {
        background-color: rgb(45, 59, 97);
        ;
        margin: 5px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

}